@media  (max-width: 440px) {
  .landing-page {
    height: 100vh;
    text-decoration: none;
    background-repeat: none;
    background-size: cover;
    background-image: url(../images/giphy.gif);
    .entry {
      display: flex;
      justify-content: flex-end;
      // flex-direction: inherit;
    }
    .enter{
      display: flex;
      justify-content: flex-end;
    }
    .enter-button {
      display: flex;
      justify-content: space-between;
      .landing-btn {
        height: 2.5rem;
      }
    }
    .title-main {
      display: flex;
      justify-content: center;
      color: #3F706A;
      
      font-size: 50px;
      // background-color: black;
    }
    .landing-img {
      width: 100%;
    }
  }
}
  

